.search-item {
    border: 1px solid lightgray; 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 20px; 
    gap: 20px; 
    padding: 10px; 
    border-radius: 5px; 
}

.search-item-img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}

.search-item-description {
    flex: 2; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.search-item-title {
    font-size: 20px; 
    color: #0071c2; 
}

.search-item-distance {
    font-size: 12px; 
}

.search-item-taxiOp {
    font-size: 12px; 
    background-color: #008009; 
    color: white;
    width: max-content; 
    padding: 3px; 
    border-radius: 5px; 
}

.search-item-subtitle {
    font-size: 12px; 
    font-weight: bold; 
}

.search-item-features {
    font-size: 12px; 
}

.search-item-cancelOp {
    font-size: 12px; 
    color: #008009; 
    font-weight: bold; 
}

.search-item-cancelOp-subtitle {
    font-size: 12px; 
    color: #008009; 
}

.search-item-details {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.search-item-rating {
    display: flex; 
    justify-content: space-between; 

    span {
        font-weight: 500; 
    }

    button {
        background-color: #003580;
        color: white; 
        padding: 5px; 
        font-weight: bold; 
        border: none; 
    }
}

.search-item-detail-texts {
    text-align: right; 
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
}

.search-item-price {
    font-size: 24px; 
}

.search-item-taxOp {
    font-size: 12px; 
    color: gray; 
}

.search-item-checkButton {
    background-color: #0071c2;
    color: white; 
    font-weight: bold; 
    padding: 10px 5px; 
    border: none; 
    cursor: pointer; 
    border-radius: 3px; 
}
